
<!Doctype html>
<html>
    <head>

        <title>GBA 300 Project</title>
        <link href="/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="/Content/bootstrap/js/bootstrap.js"></script>
        <script src="/Scripts/jquery-1.7.1.js"></script>

    </head>
    <body>
        
    <link href="/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
        
    <script src="/Scripts/jquery-1.7.1.js"></script>
    <script src="/Content/bootstrap/js/bootstrap.js"></script>
    <script src="/Scripts/MyApp.js"></script>
    <link href="/Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />

   
             <!-- Button to trigger modal -->
        <div id="wrapper">
            <center>
        <img src="/Content/GBA Layoutsmall.jpg" alt="Pictures" usemap="#GBAmap" />
            </center>
        </div>
        <map name="GBAmap">
            <a><area shape="poly" coords="63,57,306,5,339,151,94,204,63,57" href="#Capitol" role="button" class="img" data-toggle="modal" alt="Capitol"/></a> 
            <a><area shape="poly" coords="387,75,636,61,645,211,396,225,387,75" href="#Botanical" role="button" class="img" data-toggle="modal" alt="Botanical" /></a>
            <a><area shape="poly" coords="778,15,906,42,865,238,737,211,778,15" href="#Huntsville" role="button" class="img" data-toggle="modal" alt="Huntsville" /></a>
            <a><area shape="poly" coords="116,249,246,256,235,455,105,448,116,249" href="#Mercedes" role="button" class="img" data-toggle="modal" alt="Mercedes"/></a>
            <a><area shape="poly" coords="306,317,435,302,454,502,325,514,306,317" href="#TimCook" role="button" class="img" data-toggle="modal" alt="TimCook"/></a>
            <a><area shape="poly" coords="589,242,835,285,809,433,564,389,589,242" href="#BryantDenny" role="button" class="img" data-toggle="modal" alt="BryantDenny"/></a>
            <a><area shape="poly" coords="74,510,319,559,290,706,45,657,74,510" href="#CPSI" role="button" class="img" data-toggle="modal" alt="CPSI"/></a>
            <a><area shape="poly" coords="433,545,664,451,722,590,490,685,433,545" href="#Talledega" role="button" class="img" data-toggle="modal" alt="Talledega"/></a>
            <a><area shape="poly" coords="803,495,932,474,962,671,835,693,803,495" href="#Sloss" role="button" class="img" data-toggle="modal" alt="Sloss"/></a>
        </map>

        <!-- Modal -->
<div id="TimCook" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="TimCookModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="TimCookModalLabel">Tim Cook</h3>
  </div>
  <div class="modal-body">
    <p>

        <p>
            Timothy Donald “Tim” Cook was born in the small town of Robertsdale, AL, near Mobile. In 1998, Cook worked as a vice president at Compaq when he decided 
            to take a job with Apple in as the corporation’s COO. In August 2011, he was named Apple’s new CEO, taking over the position previously held by Steve Jobs.  
            In November 2011, Cook was named one of Forbes magazine’s “World’s Most Powerful People.” He was also named the highest-paid CEO among large 
            publicly traded companies in 2012 by The New York Times.
        </p>
    </p>
  </div>
  <div class="modal-footer">   
      
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>






<div id="Capitol" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="MontgomeryCourthouseModelLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="MontgomeryCourthouseModalLabel">Montgomery Courthouse</h3>
  </div>
  <div class="modal-body">
    <p>

        <p>
            The Alabama State Capitol Building is considered a National Historic Landmark. Built in 1851, the building became the Capitol of the Confederacy until 1865. 
            Montgomery’s Capitol Building also served a major role during the Civil Rights Movement in the 1950s and the 1960s. Jefferson Davis and George Wallace, 
            among others, have walked through the halls of this historical landmark.  Today, the building still 
            remains and provides public galleries for citizens to view the discussions between the Senate and the House of Representatives on Legislative meeting days. 

        </p>  
    </p>
  </div>
  <div class="modal-footer">   
      
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>  </div>
</div>






<div id="Mercedes" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="MercedesModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="MercedesModalLabel">Mercedes</h3>
  </div>
  <div class="modal-body">
    <p>
        Located in Vance, Alabama is the Mercedes-Benz U.S. International (MBUSI) automobile manufacturing plant. Plans for construction of the factory were announced in 
        1993, which produced its first vehicle in 1997. Today, the plant contributes to the economy in state of Alabama by employing more than 4,000 employees directly
         and even more when including suppliers. In addition to producing the popular ML and GL models, MBUSI will begin production of the Mercedes-Benz C-Class 
        to the Vance plant beginning in 2014. 

    </p>
  </div>
  <div class="modal-footer">   
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>





<div id="Talledega" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="TalledegaModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="TalledegaModalLabel">Talledega</h3>
  </div>
  <div class="modal-body">
    <p>

       Completed in 1969, Talladega Superspeedway stands large along Interstate 20.  The 2.66 mile long track hosts NASCAR events twice during the year, 
        attracting crowds in excess of 170,000.  The high degree banking and long straightaways make Talladega the fastest track in NASCAR.  A study by the Washington Economics Group, Inc. 
        found that Talladega generates $407 million in annual revenue for the region and state.
    </p>
  </div>
  <div class="modal-footer">   
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
                
            
<div id="BryantDenny" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="BryantDennyModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="BryantDennyModalLabel">Bryant Denny</h3>
  </div>
  <div class="modal-body">
    <p>

       Bryant Denny plays host to one of the most celebrated football teams of all time, the Alabama Crimson Tide. It opened in 1929 and was named after former UA president George H. Denny. 
        Originally it was named Denny Stadium, but in 1975 the name was changed to Bryant-Denny Stadium in honor of Paul “Bear” Bryant. After many additions, the stadium can hold up to 101,821 
        people, making it the second largest SEC stadium, fifth largest in the United States, and 8th largest non-racing stadium in the world. The most recent expansion to the Stadium was completed 
        in 2010 and involved the construction of the south end zone, adding 36 new skyboxes and 8500 new seats to the upper deck.
         Fun fact about the stadium- the visitors’ locker room is officially named “The Fail Room” in honor of James M Fail, an alumnus and donor to the university. 
    </p>
  </div>
  <div class="modal-footer">   
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>        
            
            
            
<div id="Sloss" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="SlossModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="SlossModalLabel">Sloss</h3>
  </div>
  <div class="modal-body">
    <p>

       Sloss began as a pig-iron producing blast furnace producing steel on a large scale. Today Sloss serves as a museum of industry while hosting a nationally recognized metal arts program. 
        The grounds are also rumored to be haunted--creating a mystery surrounding the site while creating the perfect setting for a renowned haunted house each Halloween.   
    </p>
  </div>
  <div class="modal-footer">   
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>        
            
            
            
<div id="Huntsville" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="HuntsvilleModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="HuntsvilleModalLabel">Huntsville</h3>
  </div>
  <div class="modal-body">
    <p>

       The U.S. Space and Rocket Center is acclaimed as one of the most comprehensive U.S. manned space flight hardware museums in the world. Opened in 1970, the museum was NASA’s first visitor center.
         It is home to thousands of artifacts, including a rock from the moon, a full-sized space shuttle mock-up, and a Saturn V rocket. The Space and Rocket Center achieved Smithsonian Institution 
        Affiliate status in 2002, and serves as a major repository for the 
        Smithsonian Institution's National Air and Space Museum in Washington, having some 300 major artifacts on loan. Over 16 million people have visited the museum.
    </p>
  </div>
  <div class="modal-footer">   
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>        
            
            
            
<div id="Botanical" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="BotanicalModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="BotanicalModalLabel">Botanical Gardens</h3>
  </div>
  <div class="modal-body">
    <p>

      Located in Birmingham, the Botanical Gardens are the most visited free attraction in the state of Alabama.  With over 350,000 visitors every year, the Gardens serve as a place of tranquility,
         as well as learning.  Schools bring classes to the 67.5-acre property throughout year, 
        giving students a better look at items in their science curriculum.  The Botanical Gardens also boast the largest public horticultural library in the US.
    </p>
  </div>
  <div class="modal-footer">   
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>        



<div id="CPSI" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="CPSIModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="CPSIModalLabel">CPSI</h3>
  </div>
  <div class="modal-body">
    <p>

       Founded in 1979, CPSI has become a leader in healthcare IT for rural and community hospitals. The company provides a complete information and patient care system from business office to bedside. 
        CPSI’s comprehensive electronic health record (EHR) System has been implemented in more than 650 medical facilities across the nation. In January 2013, the formation of TruBridge, LLC was announced.
         TruBridge is a wholly owned subsidiary of CPSI and will provide business services, consulting services and managed 
        information technology services targeted specifically at rural and community healthcare organizations.
    </p>
  </div>
  <div class="modal-footer">   
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>     
            
               
<div id="SisterSchubert" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="SisterSchubertModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="SisterSchubertModalLabel">Sister Schubert</h3>
  </div>
  <div class="modal-body">
    <p>
    
      "Sister" Schubert (as her family has always referred to her), began baking and cooking with her grandmother at a young age and has been in love ever since.  
        Schubert’s favorite recipe was always her grandmother's parker-house style yeast rolls.  After acquiring an interior design degree she moved back to her hometown of 
        Troy and worked as an interior designer in the family furniture business.  After being asked to make rolls for the church holiday fair "Sister" got the idea that maybe others 
        would like her rolls as well.  After much trial, persuasion, and family assistance the company grew to an enormous size and was bough by Lancaster Colony Corp. and became a national brand.  
        Today Sister and her husband are still involved in the business and have even set
         up the Barnes Family Foundation Charity Organization with the financial abundance that the company provided.
    </p>
  </div>
  <div class="modal-footer">   
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

    </body>
</html>