      
    <link href="/Content/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        
    <script src="/Scripts/jquery-1.7.1.js"></script>
    <script src="/Content/bootstrap/js/bootstrap.js"></script>
    <script src="/Scripts/MyApp.js"></script>
    <link href="/Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />


        


   
             <!-- Button to trigger modal -->
     <div class="c1" id="wrapper"><img width="2048" height="1536" src="/Content/GBA2.jpg" alt="Pictures" usemap="#GBAmap"></div>

        <map id="GBAmap" name="GBAmap">
           <area shape="rect" coords="79,390,558,607" href="#Bay" class="img" data-toggle="modal" alt="Bay" />
            <area shape="rect" coords="640,248,1049,548" href="#Capitol" class="img" data-toggle="modal" alt="Capitol" />
            <area shape="rect" coords="1163,164,1541,630" href="#Sloss" role="button" class="img" data-toggle="modal" alt="Sloss" />
            <area shape="rect" coords="1648,207,2009,588" href="#Sister" role="button" class="img" data-toggle="modal" alt="Sister"/>
            <area shape="rect" coords="1569,676,2027,1082" href="#Gardens" role="button" class="img" data-toggle="modal" alt="Gardens"/>
            <area shape="rect" coords="1268,864,1540,1144" href="#Huntsville" role="button" class="img" data-toggle="modal" alt="Huntsville" />
            <area shape="rect" coords="640,771,1211,1214" href="#Stadium" role="button" class="img" data-toggle="modal" alt="Stadium"/>
            <area shape="rect" coords="307,832,608,1114" href="#Cook" role="button" class="img" data-toggle="modal" alt="Cook"/>
            <area shape="rect" coords="21,672,274,926" href="#Talladega" role="button" class="img" data-toggle="modal" alt="Talladega"/>
        </map>
           
       
       
        <!-- Modal -->
<div id="Cook" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="TimCookModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="TimCookModalLabel">Tim Cook</h3>
  </div>
  <div class="modal-body">
    <p>
            Timothy Donald “Tim” Cook was born in the small town of Robertsdale, AL, near Mobile. In 1998, Cook worked as a vice president at Compaq when he decided 
            to take a job with Apple Inc. as the corporation’s COO. In August 2011, he was named Apple’s new CEO, taking over the position previously held by Steve Jobs.  
            In November 2011, Cook was named one of Forbes magazine’s “World’s Most Powerful People.” He was also named the highest-paid CEO among large 
            publicly traded companies in 2012 by The New York Times.
    </p>
  </div>
  <div class="modal-footer">   
      
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>






<div id="Capitol" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="CapitolModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="CapitolModalLabel">Alabama State Capitol Building</h3>
  </div>
  <div class="modal-body">
    <p>

            The Alabama State Capitol Building is considered a National Historic Landmark. Built in 1851, the building became the Capitol of the Confederacy until 1865. 
            Montgomery’s Capitol Building also served a major role during the Civil Rights Movement in the 1950s and the 1960s. Jefferson Davis and George Wallace, 
            among others, have walked through the halls of this historical landmark.  Today, the building still 
            remains and provides public galleries for citizens to view the discussions between the Senate and the House of Representatives on Legislative meeting days. 
    </p>
  </div>
  <div class="modal-footer">   
      
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>  </div>
</div>



<div id="Talladega" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="TalledegaModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="TalledegaModalLabel">Talladega</h3>
  </div>
  <div class="modal-body">
    <p>

       Completed in 1969, Talladega Superspeedway stands large along Interstate 20.  The 2.66 mile long track hosts NASCAR events twice during the year, 
        attracting crowds in excess of 170,000.  The high degree banking and long straightaways make Talladega the fastest track in NASCAR.  A study by the Washington Economics Group, Inc. 
        found that Talladega generates $407 million in annual revenue for the region and state.
    </p>
  </div>
  <div class="modal-footer">   
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
                
            
<div id="Stadium" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="BryantDennyModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="BryantDennyModalLabel">Bryant Denny</h3>
  </div>
  <div class="modal-body">
    <p>

       Bryant Denny plays host to one of the most celebrated football teams of all time, the Alabama Crimson Tide. It opened in 1929 and was named after former UA president George H. Denny. 
        Originally it was named Denny Stadium, but in 1975 the name was changed to Bryant-Denny Stadium in honor of Paul “Bear” Bryant. After many additions, the stadium can hold up to 101,821 
        people, making it the second largest SEC stadium, fifth largest in the United States, and 8th largest non-racing stadium in the world. The most recent expansion to the Stadium was completed 
        in 2010 and involved the construction of the south end zone, adding 36 new skyboxes and 8500 new seats to the upper deck.
         Fun fact about the stadium- the visitors’ locker room is officially named “The Fail Room” in honor of James M Fail, an alumnus and donor to the university. 
    </p>
  </div>
  <div class="modal-footer">   
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>        
            
            
            
<div id="Sloss" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="SlossModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="SlossModalLabel">Sloss</h3>
  </div>
  <div class="modal-body">
    <p>

       Sloss began as a pig-iron producing blast furnace producing steel on a large scale. Today Sloss serves as a museum of industry while hosting a nationally recognized metal arts program. 
        The grounds are also rumored to be haunted--creating a mystery surrounding the site while creating the perfect setting for a renowned haunted house each Halloween.   
    </p>
    
    <p>
    This photo was taken by Dr. Mike Hardin, Dean of Culverhouse College of Commerce.
    </p>
  </div>
  <div class="modal-footer">   
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>        
            
            
            
<div id="Huntsville" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="HuntsvilleModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="HuntsvilleModalLabel">Huntsville</h3>
  </div>
  <div class="modal-body">
    <p>

       The U.S. Space and Rocket Center is acclaimed as one of the most comprehensive U.S. manned space flight hardware museums in the world. Opened in 1970, the museum was NASA’s first visitor center.
         It is home to thousands of artifacts, including a rock from the moon, a full-sized space shuttle mock-up, and a Saturn V rocket. The Space and Rocket Center achieved Smithsonian Institution 
        Affiliate status in 2002, and serves as a major repository for the 
        Smithsonian Institution's National Air and Space Museum in Washington, having some 300 major artifacts on loan. Over 16 million people have visited the museum.
    </p>
  </div>
  <div class="modal-footer">   
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>        
            
            
            
<div id="Gardens" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="GardensModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="GardensModalLabel">Botanical Gardens</h3>
  </div>
  <div class="modal-body">
    <p>

      Located in Birmingham, the Botanical Gardens are the most visited free attraction in the state of Alabama.  With over 350,000 visitors every year, the Gardens serve as a place of tranquility,
         as well as learning.  Schools bring classes to the 67.5-acre property throughout year, 
        giving students a better look at items in their science curriculum.  The Botanical Gardens also boast the largest public horticultural library in the US.
    </p>
    
    
    <p>
    This photo was taken by Dr. Mike Hardin, Dean of Culverhouse College of Commerce.
    </p>
  </div>
  <div class="modal-footer">   
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>        
  
            
               
<div id="Sister" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="SisterSchubertModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="SisterSchubertModalLabel">Sister Schubert</h3>
  </div>
  <div class="modal-body">
    <p>
    
      "Sister" Schubert (as her family has always referred to her), began baking and cooking with her grandmother at a young age and has been in love ever since.  
        Schubert’s favorite recipe was always her grandmother's parker-house style yeast rolls.  After acquiring an interior design degree she moved back to her hometown of 
        Troy and worked as an interior designer in the family furniture business.  After being asked to make rolls for the church holiday fair "Sister" got the idea that maybe others 
        would like her rolls as well.  After much trial, persuasion, and family assistance the company grew to an enormous size and was bough by Lancaster Colony Corp. and became a national brand.  
        Today Sister and her husband are still involved in the business and have even set
         up the Barnes Family Foundation Charity Organization with the financial abundance that the company provided.
    </p>
  </div>
      <div class="modal-footer">   
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
 </div>


<div id="Bay" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="MobileBayModalLabel" aria-hidden="true">

  <div class="modal-header">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="MobileBayModalLabel">Mobile Bay</h3>
  </div>
  <div class="modal-body">
       
    <p>
      Mobile Bay is an inlet of the Gulf of Mexico, lying within the state of Alabama in the United States. Mobile Bay is the fourth largest estuary in the United States with a
         discharge of 62,000 cubic feet (1,800 m<sup>3</sup>) of water per second. Today, the city of Mobile is situated at the head of the bay on the western shore.
    </p>
  </div>

  <div class="modal-footer">   
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>


</div>
       <script src="Scripts/jquery.rwdImageMaps.js"></script>
        <script>
            
                $('img[usemap]').rwdImageMaps();
             
        </script>

