<!DOCTYPE html>
<html>
<head>

    <title>GBA 300 Project</title>
        <link href="/Content/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <script src="/Content/bootstrap/js/bootstrap.js"></script>
        <script src="/Scripts/jquery-1.7.1.js"></script>
</head>
<body>

    @RenderBody()
</body>
</html>